doctype html
html(lang="es")
  head
    meta(charset="utf-8")
    link(rel="icon" type="image/png" href="static/favicon.png")
    - if(title)
      title= title 
    - else
      title= "Gremio ESI" 
    block head
  body
    div.contenido
      block body        
  footer
    block footer
