ul.footer-nav
  li
    a(href="/") Inicio
  li
    a(href="/noticias") Noticias
  li
    a(href="#") Calendario
  li
    a(href="#") Documentos
  li
    a(href="#") Talleres
  li
    a(href="#") Material
  li
    a(href="#") Sobre nosotros
ul.social-links
  li
    a(href="#") Twitter
  li
    a(href="#") Facebook  
  li
    a(href="#") Instagram
  li
    a(href="mailto:gremioestudiantilesi@gmail.com") Mail
  li
    a(href="#") Discord
