
nav
  .row
    a(href="/")
      img(src="/static/gestesi_logo.png").logo-nav
    ul.main-nav
      li 
        a(href="/noticias") Noticias  
      li 
        a(href="/calendario") Calendario
      li 
        a(href="/documentos") Documentos
      li 
        a(href="/talleres") Talleres
      li 
        a(href="/material") Material
      li 
        a(href="/nosotros") Sobre nosotros 
