extends ./modules/basic.pug
block head
  link(rel="stylesheet" href="/static/style.css")
  link(rel="stylesheet" href="/static/noticias/style.css")
    
block body
  include ./modules/header.pug  
  div.calendario
    iframe(src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%23ffffff&amp;ctz=America%2FMontevideo&amp;src=dGhlc2FtZXJnYW1lc0BnbWFpbC5jb20&amp;src=ZXMudXkjaG9saWRheUBncm91cC52LmNhbGVuZGFyLmdvb2dsZS5jb20&amp;src=ZW4udXkjaG9saWRheUBncm91cC52LmNhbGVuZGFyLmdvb2dsZS5jb20&amp;color=%237986CB&amp;color=%230B8043&amp;color=%23009688" style="border-width:0" width="800" height="600" frameborder="0" scrolling="no")


block footer
  include ./modules/footer.pug
