extends ./modules/normal.pug
block head
  link(rel="stylesheet" href="/static/style.css")

block body
  h1 Falta implementar!
  p Puedes ayudar a implementarlo en la pagina 
    a(href="https://github.com/tds-esi/pagina") aqui
block footer
