extends ./modules/basic.pug
block head
  link(rel="stylesheet" href="/static/landing/style.css")

block body
  h1 Bienvenido a la pagina del gremio!
  p La pagina esta en desarollo, puedes contribuir 
    a(href="https://github.com/tds-esi/pagina") aqui
  
block footer
  p Contactanos 
    a(href="mailto:gremioestudiantilesi@gmail.com") gremioestudiantilesi@gmail.com
