doctype html
html(lang="es")
  head
    meta(charset="utf-8")
    link(rel="icon" type="image/png" href="static/favicon.png")
    - if(title)
      title= title 
    - else
      title= "Gremio ESI" 
    link(rel="stylesheet" href="/static/landing/style.css")
    link(rel="stylesheet" href="/static/style.css")
  
  body
    .hero
      include ./modules/header.pug  
      h1.hero-text Gremio de 
        span.hero-high ESI Buceo
    h2.title Conoce mas de nosotros

  footer
    include ./modules/footer.pug