extends ./modules/normal.pug
block head
  link(rel="stylesheet" href="/static/landing/style.css")
    

block body
  div.contenido
    h1 Landing de la pagina del gremio!
    br
    p La pagina esta en desarollo, puedes contribuir 
      a(href="https://github.com/tds-esi/pagina") aqui
      
  br
  p Contactanos 
    a(href="mailto:gremioestudiantilesi@gmail.com") gremioestudiantilesi@gmail.com
block footer
