extends ./modules/normal.pug
block head
  link(rel="stylesheet" href="/static/style.css")

block body
    .block
        h1 Falta implimentar pero puedes ayudarnos!
        br
        h2 Idea con la seccion:
        br
        p 
            | En esta pagina tenemos pensado publicar materiales para los estudiantes,
            | estos materiales serian desde material de estudio a el reglamento de pasaje de grado.
            | Se deberia impelmentar un sistema de gestion de estos matriales, clasificacion y 
            | una forma de buscarlo
        br 
        h2 Como ayudar:
        br 
        p Para ayudar a que esta seccion se implemente en el GitHub de la pagina 
            a(href="https://github.com/tds-esi/pagina") aqui
block footer


