extends ./modules/normal.pug
block head
  link(rel="stylesheet" href="/static/style.css")

block body
    .block
        h1 Falta implimentar pero puedes ayudarnos!
        br
        h2 Idea con la seccion:
        br
        p 
            | Esta seria donde contariamos mas a detalle sobre el gremio y tambien como contactarnos
        br 
        h2 Como ayudar:
        br 
        p Para ayudar a que esta seccion se implemente en el GitHub de la pagina 
            a(href="https://github.com/tds-esi/pagina") aqui
block footer