extends ./modules/normal.pug
block head
  link(rel="stylesheet" href="/static/style.css")

block body
  div.contenido
    h1.categoria Clases
    div.categoria-blocks
      div.small-block
        img(src="/static/buceo.jpg")
        h2 Javascript 101
        p Damos lo basico sobre javascript y sus fundamentos
      div.small-block
        img(src="/static/buceo.jpg")
        h2 React 101
        p Damos lo basico sobre React y sus fundamentos
      div.small-block
        img(src="/static/buceo.jpg")
        h2 Python 101
        p Damos lo basico sobre Python y sus fundamentos
    h1.categoria Packetes
    div.categoria-blocks
  
    div.small-block
      img(src="/static/buceo.jpg")
      h2 Aprende NodeJS
      p Aprende todo lo posible sobre NodeJS
    div.small-block
      img(src="/static/buceo.jpg")
      h2 Aprende React
      p Aprende todo lo posible sobre React
    div.small-block
      img(src="/static/buceo.jpg")
      h2 Aprende Python
      p Aprende todo lo posible sobre Python
    h1.categoria Tools
    div.categoria-blocks
      div.small-block
        img(src="/static/buceo.jpg")
        h2 Github
        p Aprende a utilizar github
      div.small-block
        img(src="/static/buceo.jpg")
        h2 Trello
        p Aprende a usar trello
      div.small-block
        img(src="/static/buceo.jpg")
        h2 JSON viewer
        p Aprende a usar JSON viewer

block footer
